.up {
  border: 5px solid blue;
  min-height: 150px;
  width: screen.width;
  border-radius:20px;
}
.yeah {
  background-color: solid green; 
}
.no {
  background-color: solid red; 
}

hh1 {
  font-size: 100px;
}
