.up {
  border: 5px solid red;
  min-height: 150px;
  width: screen.width;
}
.upp {
  border: 5px solid blue;
  min-height: 150px;
  width: screen.width;
  border-radius:20px;
}
.yeah {
  background-color: #00ff1e; 
  border-radius:20px;
}
.no {
  background-color: red; 
  border-radius:20px;
}

hh1 {
  font-size: 100px;
}
